html, body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #333;
}
.App {
  padding: 10px;
}
.btn {
  padding: 10px 20px;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  background-color: forestgreen;
}
.btn:active {
  background-color: rgb(199, 253, 199);
}
.window-box {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}